In [7]:
from datetime import datetime
import requests
import pandas as pd

In [9]:
API_KEY = "eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNDE3djEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2Mjc0MTk0OCwiaWQiOiIwMTk2YmZjMi1mYmQxLTcxNTYtYTNiZi1lYmNiYWQ1YjE0N2YiLCJpaWQiOjExMDc1MTA0Mywib2lkIjo0MTU2NDA4LCJzIjozNiwic2lkIjoiNmMzMmY4Y2MtZjIxZC00ZmJlLThmYTQtMzc1OGY5MDYzN2IxIiwidCI6ZmFsc2UsInVpZCI6MTEwNzUxMDQzfQ.mxJo02gz-TiVAGOT79-D5D_BcIKkXg7eFEvXYN59YlbbeRdeevMsfNtaqBaOQ094BZAoAmNQXN2mAM12AL1yHQ"

In [11]:
URL = "https://seller-analytics-api.wildberries.ru/api/v2/nm-report/grouped/history"

In [13]:
headers = {
    "Authorization": API_KEY,
    "Content-Type": "application/json"
}

In [15]:
# Set date range
start_date = "2025-05-05"
end_date = datetime.now().strftime("%Y-%m-%d")

payload = {
    "period": {
        "begin": start_date,
        "end": end_date
    }
}

In [17]:
# Fetch data and save to CSV
try:
    response = requests.post(URL, headers=headers, json=payload)
    response.raise_for_status()
    data = response.json()

    stats = data.get("data", [])
    if stats:
        df2 = pd.DataFrame(pd.DataFrame(stats).iloc[0].history)
        df2.to_csv("wildberries_data.csv", index=False)
        print(f"Saved {len(df2)} rows to 'wildberries_data.csv'.")
    else:
        print("No data returned for the selected period.")

except requests.exceptions.RequestException as e:
    print(f"Request failed: {e}")
    print(response.text)

Saved 8 rows to 'wildberries_data.csv'.

In [19]:
df2

,dt,openCardCount,addToCartCount,ordersCount,ordersSumRub,buyoutsCount,buyoutsSumRub,buyoutPercent,addToCartConversion,cartToOrderConversion
0,2025-05-05,159,74,25,5775,21,4851,95,47,34
1,2025-05-06,195,79,21,4852,12,2773,100,41,27
2,2025-05-07,167,73,21,4851,15,3465,100,44,29
3,2025-05-08,230,124,59,10485,31,5554,100,54,48
4,2025-05-09,111,39,10,2310,3,693,100,35,26
5,2025-05-10,108,42,21,4851,3,693,100,39,50
6,2025-05-11,68,29,11,2541,0,0,0,43,38
7,2025-05-12,38,11,1,231,0,0,0,29,9